<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		<p style="margin-bottom:2cm;"></p>
		<div class="grad">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/resources">Resources</a></li>
				<li><a href="/fun_science">Fun Science</a></li>
				<li><a href="/data_science">Data Science</a></li>
			</ul>
		</nav>
		</div>
		
		<!--<div class="bg-img"> -->
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<!-- </div> -->
		
		<p style="margin-bottom:2cm;"></p>
		
		<footer>
			<ul>
				<li><a href="mailto:adityarotti@gmail.com">email</a></li>
				<li><a href="https://github.com/adityarotti">github.com/adityarotti</a></li>
			</ul>
		</footer>
		
		
	</body>
</html>
